


<div class="row">
  <div class="col-sm-6">
    <h1>Investments</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_investment_path, class: 'btn btn-primary' do %>
    Add New Investment
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Portfolio</th>
            <th>Assigned to</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @investments.each do |investment| %>
        <%= content_tag :tr, id: dom_id(investment), class: dom_class(investment) do %>
          

                      <td><%= investment.portfolio %></td>
                      <td><%= investment.assigned_to %></td>
          
          
            <td><%= link_to 'Show', investment %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
