


<div class="row">
  <div class="col-sm-6">
    <h1>Br_reits</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_br_reit_path, class: 'btn btn-primary' do %>
    Add New Br reit
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Ticker</th>
            <th>Price</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @br_reits.each do |br_reit| %>
        <%= content_tag :tr, id: dom_id(br_reit), class: dom_class(br_reit) do %>
          

                      <td><%= br_reit.ticker %></td>
                      <td><%= br_reit.price %></td>
          
          
            <td><%= link_to 'Show', br_reit %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
