


<div class="row">
  <div class="col-sm-6">
    <h1>Br_stocks</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_br_stock_path, class: 'btn btn-primary' do %>
    Add New Br stock
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Ticker</th>
            <th>Price</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @br_stocks.each do |br_stock| %>
        <%= content_tag :tr, id: dom_id(br_stock), class: dom_class(br_stock) do %>
          

                      <td><%= br_stock.ticker %></td>
                      <td><%= br_stock.price %></td>
          
          
            <td><%= link_to 'Show', br_stock %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
